@import url("https://fonts.googleapis.com/css?family=Monoton");
@import url("https://fonts.googleapis.com/css?family=Bree+Serif");
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  color: red;
}

body {
  font-family: "Bree Serif", serif;
  background-repeat: no-repeat;
  background-size: cover;
}
